html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 2em;
    overflow-x: hidden;
    background-image: url("https://www.esic.edu/sites/default/files/2021-09/lenguajes-programacion-mejor-pagados.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}
a {
    text-decoration: none;
    transition: all 0.4s ease;
    color: #38CCCC;
}
h1, h2, p, i, address, .section_contact_center_telephone { color: white; }
/* -----------------
        HEADER
----------------- */
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
    position: sticky;
    top: 0;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    z-index: 10;
}
.header ul{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    width: 70%;
    list-style: none;
    padding: 0;
}
.header ul li{
    transition: all 0.3s ease;
}
.header ul li a{
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    font-size: 22px;
    color: white;
    text-shadow: 3px 3px 8px  rgb(75, 75, 75), -3px -3px 8px  rgb(75, 75, 75);
}
.header ul li:hover{
    scale: 130%;
}
.main_container {
    width: 100%;
    max-width: 970px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 15px;
}
/* ------------------
        INTRO
------------------ */
.section_intro {
    background-color: #967dadf5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 1px 1px 7px #fff, -1px -1px 7px #fff;

}
.section_intro img{
    border-radius: 50%;
    margin-top: 10px;
}
/* -------------------
        BIO 
---------------------*/
.section_bio{
    display: flex;

    padding: 50px;
    background-color: #d66793f5;
    border-radius: 15px;
    box-shadow: 1px 1px 7px #fff, -1px -1px 7px #fff;
}
.section_bio img{
    border-radius: 15px;
}
.section_bio > div{
    flex: 1 1;
}
.section_bio_izq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section_bio_der_p_arriba{
    margin-bottom: 40px;
}
.section_bio_der_p_abajo{
    margin-bottom: 0;
}
/*-------------------
        EDUCACION 
-------------------*/
.section_estudios-bk{
    background-color: #69a78ff5;
    flex-direction: row-reverse;
}
.section_educacion_ul{
    list-style: none;
}
/*-------------------
        EXPERIENCIA 
-------------------*/
.section_experiencia-bk{
    background-color: #449293f5;
}
/* ------------------
        GALERIA
------------------ */
.section_galeria{
    display: flex;
    padding: 50px;
    background-color: #7c9c9cf5;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 1px 1px 7px #fff, -1px -1px 7px #fff;
}
.section_galeria_item img {
    border-radius: 12px;
    margin: 10px;
    overflow: hidden;
    height: 220px;
    width: 220px;
}
.section_galeria_item p{
    margin-top: 0px;
    text-align: center;
}
.section_galeria_item{
    display: flex;
    flex-direction: column;
}
.section_galeria_item meter{
    align-self: center;
    filter: drop-shadow(2px 2px 10px white);
    width: 150px;
}
.section_galeria_item meter::-webkit-meter-optimum-value{
    background: rgb(75, 75, 75);
}
/*-------------------
        CONTACT
-------------------*/
.section_contact{
    background-color: #878f8ff5;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 20px;
    box-shadow: 1px 1px 7px #fff, -1px -1px 7px #fff;
}
.section_contact > div{
    padding-left: 34px;
    padding-right: 34px;
    box-sizing: border-box;
}
.section_contact_izq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding-left: 50px;
    padding-right: 50px;
}
.section_contact_izq img{
    border-radius: 15px;
}
.section_contact_center{
    width: 40%;
    padding-top: 20px;
}
.section_contact_center_adress{
    margin-bottom: 30px;
    font-style: normal; 
}
.section_contact_center_telephone{
    margin-bottom: 40px;
}
.section_contact_center_telephone a:hover{
    color: #000000;
    font-weight: 600;
}
.section_contact_center_social{
    display: flex;
}
.section_contact_center_social > img{
    fill:#99CCCC;
}
.section_contact_center_social_link{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_contact_center_social_link img:hover{
    scale: 130%;
}
.section_contact_der{
    width: 40%;
}
input,
textarea {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
    padding: 15px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
input,
textarea,
button {
    display: block;
}
::-webkit-input-placeholder { color: white; }
:-ms-input-placeholder { color: white; }
::placeholder { color: white; }
#textarea {
    margin-bottom: 30px
}
#btn{
    margin-right: 0; 
    margin-left: auto;
    background: none;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
#btn a{
    color: white;
    font-size: 1rem;
}
#btn a:hover {
    color: #000000;
    font-weight: 600;
}
/* ------------------
        BOTON HOME
------------------ */
#home{
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(70px);
    backdrop-filter: blur(70px);
}
#home div a div{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 40px;
}
#home img{
    filter: invert(100%);
}
#home p{
    margin: 0;
    padding: 0 5px;
    font-size: 25px;
}
#home div a div:hover{
    background-color: #38CCCC; 
    transition: all 0.7s ease;
}
/* ------------------
        FOOTER
------------------ */
.footer{
    color: white; 
    text-align: center;
    text-shadow: 3px 3px 5px  rgb(75, 75, 75), -3px -3px 5px  rgb(75, 75, 75);
    -webkit-backdrop-filter: blur(70px);
    backdrop-filter: blur(70px);
}
.footer a:hover{
    color: #000000;
    font-weight: 900;
}
/*--------------------
        ICONOS FIJOS 
---------------------*/
.icon-whatsapp{
    position: fixed;
    bottom: 436px;
    right: 15px;
    z-index: 20;
    filter: drop-shadow(3px 3px 4px black);

    transition: all 0.3s ease;
}
.icon-instagram{
    position: fixed;
    bottom: 130px;
    right: 15px;
    z-index: 20;
    filter: drop-shadow(3px 3px 4px black);
    transition: all 0.3s ease;
}
.icon-facebook{
    position: fixed;
    bottom: 232px;
    right: 15px;
    z-index: 20;
    filter: drop-shadow(3px 3px 4px black);
    transition: all 0.3s ease;
}
.icon-linkedin{
    position: fixed;
    bottom: 334px;
    right: 15px;
    z-index: 20;
    filter: drop-shadow(3px 3px 4px black);
    transition: all 0.3s ease;
}
.container-btn-mode{
    position: fixed;
    bottom: 28px;
    right: 15px;
    cursor: pointer;
    z-index: 20;
    font-size:0;
}
.btn-mode{
    display: inline-block;
    width: 50px;
    height: 30px;
    border:2px solid black;
    transition: background-color .5s;
}
.btn-mode i {
    display: block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
}
.btn-mode.sun{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid transparent;
}
.btn-mode.moon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.active{
    background-color:black;
    color:#ffcd5c !important;
}
.dark-mode{
    background-color: #0e0e0e;
    transition:background-color .5s;
}
.dark-mode .card{
    background-color: #1A1C1E;
}
.dark-mode h1, .dark-mode h2, .dark-mode .btn-contact{
    color:white;
}
.dark-mode .btn-mode{
    background-color:#1A1C1E;
    border:1px solid white;
    color:white;
}
.icon-linkedin:hover, .icon-facebook:hover, .icon-instagram:hover, .icon-whatsapp:hover {
    scale: 130%;
}
/* ----------------------------------
 INICIO DE LOS MEDIAS PARA RESPONSIVE
-----------------------------------*/
@media screen and (max-width: 680px) {
    .section_contact { flex-direction: column; }
    .section_contact_der,
    .section_contact_center,
    .section_contact_izq {
        width: 100%;}
    .section_contact_der { margin-bottom: 20px; }
    .section_contact_center { margin-bottom: 30px; }
    .section_bio { flex-direction: column; }
    .section-educacion { flex-direction: column; }
    .section_galeria { padding: 10px; }
    .footer { color: rgb(75, 75, 75); 
        text-shadow: none; }
    a { color: black;
        font-weight: 600; }
    .header {
        position: relative;}
    .header ul { 
        display: block;
        text-align: center;
        padding: 0; }
    .header ul li a { 
        font-size: 15px;
    }
}
@media screen and (max-width: 489px) {
    .section_galeria_item {
        width: 48%;
        margin: 1%;
        height: auto; }
    .section_galeria_item img {
        width: 100%;
        height: auto; }
}
@media screen and (max-width: 1150px){
    .header{ padding: 0px; }
    .header ul{ width: 90%; }
    .header ul li a{
        font-size: 20px; }
    .icon-facebook,
    .icon-instagram,
    .icon-linkedin,
    .icon-whatsapp {
        position: relative;
        bottom: unset;
        right: unset; }
    #iconos{
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 10px; }
}